 *{
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: "HS봄바람체2.0";
    font-size: 14px;
}

@font-face{
    font-family: "HS봄바람체2.0";
    src: url(font/HS봄바람체2.0.ttf) format('truetype');
}
/****** PAGE STRUCTURE ******/
#ko{
    top: 1px;
    background: white;
    color: black;
    height: 50px;
    font-family: 'Encode Sans Condensed', sans-serif;
}
/* scroll변경시 navigation 효과  */
.scroll_nav {
    opacity: 0.85;
    background: #aaa;
}

ul li{
    color: black!important;
}
#do{
    color: black!important;
}
li.nav-item:hover ul > li.active{
    background: balck!important;
    color: white;
}
/*---------------전체페이지에 대한 설정-------------------*/
/* 전체 블록 -> 양쪽 여백 주는 것, 모든페이지에 기본으로 content설정할 것 */
#content {
  position: relative;
  width: 90%;
  top: 60px;
  margin-bottom: 100px;
}

#content ul.nav{
	margin-top: 50px;
	/*outline: 2px solid red;*/
	font-size
} 
.in-tab{
	font-size: 16px;
	width: 100%;
}
.in-tab > .nav-item{
	width: 150px;
	margin: 0;
	text-align: center;
	text-decoration: none;
}
#home{
	position: relative;
	right: 35px;
}


.bottom{
	margin-top: 50px;
	position: relative;
	text-align: center;
}
.bottom > button{
	/*background: black;*/
	/*color: white;*/
	padding: 6px 10px;
	/*font-weight: bold;*/
	font-size: 15px;
}
.bottom > button.active{
	background: #5cb85c;
	color: white;
}




.profile-box{
	text-align: center;
	margin-top: 5rem;
	margin: 5rem .5rem 0 .5rem;
	padding: 2rem .5rem 5rem .5rem;
	border-radius: 5px;
	border-width: 12px;
}
.profile-box .profile_img {
	border-radius: 100%;
	display:inline-block;
	padding: 0.5rem;
	width: 90%;
	height: initial;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1.5px solid rgba(150, 150, 150, .8);
	margin-bottom: 3rem;
	margin-top: 1.5rem;
}
.profile-box .profile_img img{
	width: 100%;
	border-radius: 100%;
	display: block;
}
.profile-box h1{
	font-size: 1.5rem;
	font-weight: 250;
	margin-bottom: 1.5rem;
	line-height: 3rem;
}

.profile-box button{
	margin-top: 10px;
	padding: 8px 15px;
	font-size: 15px;
}





/*gallery_change**/

button.up a{
    text-decoration: none;
    color: white;
}
button.up a:hover{
    text-decoration: none;
    color: white;
}
.photo_add a{
    text-decoration: none;
}
.photo_add a:hover{
    text-decoration: none;
    color: red;
}
#themecontent4{
    display: block;
    margin-left: 90px;
    
    /*border: 1px solid red;*/
}

.photo_detail_row2 .photo_detail_column2{
    float: left;
    margin: 10px 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    
    position: relative;
    bottom: 0px;
    /*position: absolute;*/
    /*border: 1px solid red;*/
}

.photo_detail_row2 .photo_detail_column2 img{
    width: 200px;
    height: 200px;
    position: relative;
    /*top:15px;  */
    /*border: 1px solid red; */
    /*opacity: 0.7;*/

}
.photo_add{
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 10px;
    top: 10px;
    position: relative;
    /*margin: 5px 10px;*/
    /*border: 1px solid #d5d5d5;*/
    background: #d5d5d5;
    font-size: 40px;
    text-align: center;
}
.photo_add p{
    margin: 70px 0;

}

.text {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 50%;
  height: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100000;
  overflow: hidden;
}
.overlay{
  position: relative;
  bottom: 200px;
  height: 200px;
  width: 200px;
  transition: .5s ease;
  z-index: 1000;
  background-color: rgba(0,0,0, 0.4);
  /*background-color: #008CBA;*/
  opacity: 0;
  overflow: hidden;
}
.photo_detail_column2:hover .overlay{
    opacity: 1;
}
.overlay .text button.up{
    width: 100px;
    height: 30%;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    position: relative;
    top: 7px;
    color: white;
    margin-bottom: 20px;
    z-index: 100000000;

}


/*/*/
.photo_detail_row .photo_detail_column{
    float: left;
    margin: 30px 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    
    position: relative;
    /*position: absolute;*/
    /*border: 1px solid red;*/
}

.photo_detail_row .photo_detail_column img{
    width: 200px;
    height: 200px;
    position: relative;
    /*top:15px;  */
    /*border: 1px solid red; */
    /*opacity: 0.7;*/

}
.photo_detail_column:hover img{
    opacity: 0.7;
}