<!DOCTYPE html>
<html>
<head>
<title>LOGIN </title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/forms.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="../img/favicon.ico">
<!-- 구글 웹 폰트 중, navigation -->
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
</head>
<body>
<!-- 네비게이션 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="../img/logo.jpg" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <!-- 마우스 오버가 nav-link로 설정되어 있음  -->
                <a class="nav-link" href="#"> Gallery <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Propicker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Theme</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mypic</a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- when login -->
                <a class="dropdown-item mypage" href="#">로그인한사람's page</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">CART</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login.html">LOGIN</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">SITE MAP</a>
                </div><!-- dropdown-menu -->
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 a">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>            
        </ul>
    
    </div>
</nav>
<div id="content_log">
    <form action="." method="post">
    <div class="log_explain">
        <h1>로그인</h1>
    </div>

    <fieldset class="aligned"  style="width: 400px; height: 130px;">
        <div class="form-row">
            <input type="text" name="id" placeholder="ID">
        </div>
    
        <div class="form-row">
            <input type="password" name="password" placeholder="PASSWORD">
        </div>
        <div class="ad">
           <img src="../img/login_ad.png">
    </fieldset>
    <div class="submit-log">
    <a href="home.html">
        <input type="submit" value="로그인"/><br>
        <input type="submit" value="네이버 아이이디로 로그인" style="background:#47d147;" /><br>
        <input type="button" value="카카오톡 아이디로 로그인" style="background:rgb(255, 255, 30); color: black;" />
    </a>
    </div>
    
    <div id="log-bottom">
        <input type="checkbox" name="check">
        <a href="#" name="check">로그인상태 유지</a> <!-- 체크박스랑 연결하기  -->
        
        <div class="log_reg"><hr>
            <a href="#">회원가입</a> / 
            <a href="#">아이디 찾기</a> /
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script>
// 스크롤을 내리면 네비게이션에 효과를 줌 .scroll_nav에 설정을 주면된다
$(window).scroll(function() {    
    // scrollTop = 스크롤 위치
    var scroll = $(window).scrollTop();
    if (scroll >= 50) {
        $(".navbar").addClass("scroll_nav");
    } else {
        $(".navbar").removeClass("scroll_nav");
    }
});
</script>
<script>
$(document).ready(function(){
    $('div.collapse').find('li').click(function(){
        $(this).css('outline', '3px solid red');
        $(this.).find('a').css('outline', '3px dashed yellow')
        // $(this).addClass('active');
        // parnent -> li, siblings -> 형제 전체를 설정 
        $(this).siblings().find('li').removeClass('active');
        $(this).addClass('active');
    });
});
</script>

</body>
</html>