{% extends "base.html" %}

{% block title %}loㄷㅇgin.html{% endblock %}

{% load staticfiles %}
<!-- css/form.css를 사용 -->
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content_log">

    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote">ID나 비밀번호가 일치하지 않습니다. {{ form.error_messages }}</p>

    {% endif %}

    <div class="log_explain">
        <h1>로그인</h1>
    </div>

    <fieldset class="aligned"  style="width: 400px; height: 130px;">
        <div class="form-row">
            {{ form.username }} 
        </div>
    
        <div class="form-row">
            <!-- {{ form.password.label_tag }} --> 
            {{ form.password }}
        </div>

        <div class="ad">
           <img src="{% static 'img/propicker/rank1.png' %}"> 
        </div>

    </fieldset>

    <div class="submit-log">
        <input type="submit" value="로그인"/><br>
        <input type="submit" value="네이버 아이이디로 로그인" style="background:#47d147;" /><br>
        <!-- <a href=" provider_login_url 'kakao' "> -->
        <input type="button" value="카카오톡 아이디로 로그인" style="background:rgb(255, 255, 30); color: black;" />
        <!-- </a> -->
    </div>
    
    <div id="log-bottom">
        <div class="log_reg"><hr>
            <a href="{% url 'signup' %}">회원가입</a> / 
            <a href="{% url 'propicker:idsearch'%}">아이디 찾기</a> /
            <a href="{% url 'propicker:pwsearch'%}">비밀번호 찾기</a>
        </div>
    </div>



    <script type="text/javascript">document.getElementById('id_username').focus();</script>
    </form>


<!-- 오류가 발생하면, .error() JQUERY사용할 것  https://api.jquery.com/category/events/browser-events/-->

</div>
{% endblock %}
