{% extends "base.html" %}

{% block title %}password_change_done.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content_log">

    <form method="post" action="."> {% csrf_token %}
    
    <!--에러 발생-->
    {% if form.errors %}
    <p class="errornote">틀렸습니다! Please correct the error(s) below.
        {{ form.error_messages }}
    </p>
    {% endif %}
    
    <div class="log_explain">
        <h1>회원정보수정</h1>
        <br><br>
    </div>

    <fieldset class="aligned">

        <!--비밀번호 입력-->
        <div class="form-row">
            <p class="reg-label">새로운 비밀번호</p> {{ form.new_password1 }}
            <!-- <span>아이디와 유사하지 않은 8자리 이상의 비밀번호</span> -->
        </div>

        <!--비밀번호 재입력-->
        <div class="form-row">
            <p class="reg-label">비밀번호 확인</p> {{ form.new_password1 }}
            <!-- <span>동일한 비밀번호를 다시한번 입력해주세요.</span> -->
        </div>

        <!--닉네임 입력-->
        <div class="form-row">
            <p class="reg-label">닉네임</p>{{ form.nickname }}
            <!-- <input class="reg_check" type="button" name="nick_check" value="중복확인"> -->
        </div>

        <div style="border-bottom: 1.5px solid #eee; width: 850px; margin-bottom: 20px">
        <!-- 이거는 선만드려고 한거  -->
        </div>

        <!--닉네임 입력-->
        <div class="form-row2 form-row">
            <p class="reg-label">이름(성/이름) </p> {{ form.first_name }} {{ form.last_name }}
        </div>

        <!-- 생년월일, 성별 -->
        <div class="form-row">
            <p class="reg-label">생년월일</p>{{ form.user_birth }}
        </div>

        <div class="form-row form-gender">
            <p class="reg-label">성별</p>{{ form.user_isMale }}
        </div>

        <!--전화번호 입력-->
        <div class="form-row" >
            <p class="reg-label">전화번호</p> {{ form.user_phone }}
        </div>

        <!-- 이메일 -->
        <div class="form-row">
            <p class="reg-label">이메일</p> {{ form.email }}
        </div>
    </fieldset>
    
    
    <div class="submit-row">
        <input type="submit" value="수정하기"/>
        <a href="{% url 'home' %}">
            <input type="button" value="취소"/>
        </a>
    </div>
    <script type="text/javascript">document.getElementById('id_username').focus();</script>
    </form>

</div>
</body>
</html>
{% endblock %}











<!--  기존에 있던 코드 
<div id="content_log">

    <div class="log_explain">
        <h1 style="text-align:center">회원정보 수정이 완료되었습니다. </h1>

    </div>


    <div class="reg_done" style="left: 45%">
        <a href="{% url 'home'%}" >
            <button type="button">홈으로</button>
        </a>
    </div>
</div> -->

<!-- 추가해야할 내용 
    완료되면 회원정보를 확인 할 수 있도록 화면에 나타나게 해준다.
    수정이 완료되면 로그인이 로그아웃 되면서 다시 로그인 하는 기능(다시 로그인하기)
-->

