{% extends "base.html" %}

{% block title %}password_check_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content" style="margin-top: 100px;">

    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote">비밀번호를 확인해주세요!!</p>
    {% endif %}
    <div class="log_explain">
        <h1>비밀번호 확인</h1>
        <p>비밀번호를 확인해주셔야 정보를 수정할 수 있습니다.</p>
    </div>

    <fieldset class="aligned">
    
        <div class="form-row">
            <p class="reg-label">비밀번호 확인</p> {{ form.old_password }}
        </div>
    
    </fieldset>
    
    <div class="submit-row" style="left: -30px">
        <input type="submit" value="확인"/>
        <input type="submit" value="취소"/>
    </div>
    
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>

</div>
{% endblock %}
