{% extends "base.html" %}

{% block title %}회원정보수정{% endblock %}
<!-- 지금은 비밀번호 변경만 가능합 -->

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content" >
    
    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <!-- 에러날때 처리하는 폼인데 무슨에러인지 잘 모르겠음  -->
    <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}

    <div class="log_explain">
        <h1>회원정보 수정</h1>
        <br>
    </div>
    
    <fieldset class="aligned">
    
        <div class="form-row">
        <!-- 기존 비밀번호 입력 -->
            <p class="reg-label">비밀번호 확인</p>{{ form.old_password }}
        </div>

    </fieldset>
    
    <div class="submit-row">
            <input type="submit" value="수정하기"/>
        <a href="{% url 'propicker:setting' %}">
            <input type="button" value="취소"/>
        </a>
    </div>
    
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>

</div>
{% endblock %}
