/* bootstrap에서 사용 */
.selector-for-some-widget {
  box-sizing: content-box;
}

*{
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: "HS봄바람체2.0";
    font-size: 14px;
}

@font-face{
    font-family: "HS봄바람체2.0"; 
    src: url(font/HS봄바람체2.0.ttf) format('truetype');
}
/****** PAGE STRUCTURE ******/
nav.navbar{
    background: black;
    height: 50px;
    font-family: 'Encode Sans Condensed', sans-serif;
}
/* scroll변경시 navigation 효과  */
.scroll_nav {
    opacity: 0.85;
    background: #aaa;
}

/* 로고  */
nav a.navbar-brand{
    margin-left: 5%;
    overflow: hidden;
}
nav > div.collapse{
    margin-right: 5%;
}
.logo{
    position: relative;
    top:-5px;
    height: 45px;
}
.outline{
    outline: 3px solid red;
}
.outline2{
    outline: 3px solid yellow;
}
.outline3{
    outline: 3px solid green;
}
.collapse{
    justify-content: flex-end;
}

li.nav-item{
    min-width: 150px;
    text-align: center;
}
/*li.nav-item a.nav-link:hover */
/*li.nav-item:child(1):hover,
li.nav-item:child(2):hover,
li.nav-item:child(3):hover,
li.nav-item:child(4):hover{
    background: white;
    opacity: .8;
    overflow: hidden;
}*/

/* search menu */
li.nav-item form {
    padding: 12px 10px;
}
li.nav-item form > input{
    background: #555;
    font-family: 'Encode Sans Condensed', sans-serif;
    border: 1px solid white;
}
li.nav-item form > button{
    padding: 9px;
}

/* 글씨 세부효과 */
/* 충돌부위  */
li.nav-item a.nav-link{
    display: block;
    font-size : 17px;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: white!important;
}
/*.collapse > ul .nav-item a.nav-link:hover*/

li.nav-item:hover ul > li.active{
    background: white;
}
li.active > a.nav-link,
li.nav-item:hover a.nav-link{
    color: black!important;
    background: white;
    opacity: .9;
    font-size: 19px;
    border-bottom: 3px solid red; 
}

li.dropdown div.dropdown-menu a{
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 11px;
}
li.dropdown div.dropdown-menu a.mypage{
    font-size : 13px;
}
/*로그인 관련페이지에 대한 틀*/

/*---------------전체페이지에 대한 설정-------------------*/
/* 전체 블록 -> 양쪽 여백 주는 것, 모든페이지에 기본으로 content설정할 것 */
div#content {
    position: relative;
    width: 90%;

}


 /* 모든 페이지에 footer들어감 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    ul,li{
        padding:0;
        margin:0;
    }
    li{
        list-style-type:none;
    }

    footer { 
        background-color:#0c1a1e; 
        min-height:350px; 
        font-family: 'Open Sans', sans-serif;

        /*position:fixed;*/
        left:0px;
        bottom:0px;
        height:60px;
        width:100%;
        position: relative;
        right: 0;
        margin-top: 60px;

    }
    .footer-col { margin-top:50px; }
    .logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

    .footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
    .footer-col p i { width:20px; color:#999;}

    .footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
    .footer-ul li { line-height:29px; font-size:12px;}
    .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
    .footer-ul i { margin-right:10px;}
    .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

    .copyright { min-height:40px; background-color:#000000;}
    .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
    .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
    .post p { font-size:12px; color:#FFF; line-height:20px;}
    .post p span { display:block; color:#8f8f8f;}
    .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
    .bottom_ul li { float:left; line-height:40px;}
    .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
    .bottom_ul li a { color:#FFF;  font-size:12px;}
    .social-icon {
        width: 30px;
        height: 30px;
        font-size: 15px;
        background-color: blue;
        color: #fff;
        text-align: center;
        margin-right: 10px;
        padding-top: 7px;
        border-radius: 50%;
    }
    .footer-social li{
     float:left;
    }
    .linked-in{
     background-color:#007bb6;
    }
    .facebook{
     background-color:#3b5998;
    }
    .twitter{
     background-color:#1da1f2;
    }
    .google{
     background-color:#f63e28;
    }
/*top버튼*/

a#MOVE_TOP_BTN {
    position: fixed;
    right: 2%;
    bottom: 50px;
    /*display: none;*/
    z-index: 999;
    color: red;
    font-weight: bold;
}


