/*인기테마*/

.logo{
    position: relative;
    top:-15px;
    height: 45px;
}
#products{
  margin-top: 100px;
}

body {
    font-family: 'Roboto';font-size: 22px;
}
.products-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
.margin-b-40 {
 margin-bottom:40px!important
}
.margin-b-50 {
 margin-bottom:50px!important
}
.margin-b-20 {
 margin-bottom:20px!important
}
.row-space-2 {
 margin-right:-2px;
 margin-left:-2px
}
p {
 font-size:17px;
 font-weight:400;
 color:#a6a7aa;
 margin-bottom:15px
}
a {
 color:#81848f
}
a:active,a:focus,a:hover {
 color:#999caa
}
.button {
 font-size:20px;
 font-weight:600
}
.button:after {
 position:absolute;
 top:8px;
 right:-15px;
 width:9px;
 height:2px;
 background:#17bed2;
 content:" "
}
h1, h2, h3, h4, h5, h6 {

    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
}

h4{
  font-size: 25px;
  font-weight: bold;
}

.co{
    width: 90%;
    margin-top: 100px;
}
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 3px;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}








/*인기태그*/

#home_quicklinks {
    padding: 20px 0;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 170px;
}
a.quicklink.link1 {
    background: #E75050;
}
a.quicklink {
    display: inline-block;
    width: 302px;
    height: 173px;
    position: relative;
    margin: 90px 30px;
}
a.quicklink .ql_caption {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.outer {
    display: table;
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
}
.inner {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
}
a.quicklink .ql_caption h2 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    line-height: 1.46em;
    color: #fff;
}
a.quicklink.link1 .ql_top {
    border-bottom-color: #E75050;
}
a.quicklink.link1 .ql_bottom {
    border-top-color: #E75050;
}


.ql_top {
    bottom: 173px;
    border-bottom: 89px solid #ccc;
}
.ql_bottom {
    top: 173px;
    border-top: 89px solid #ccc;
}
.ql_top, .ql_bottom {
    position: absolute;
    left: 0px;
    width: 0px;
    border-left: 151px solid transparent;
    border-right: 151px solid transparent;
}

a.quicklink.link2 {
    background: #D3D3D3;
}
a.quicklink.link2 .ql_top {
    border-bottom-color: #D3D3D3;
}
a.quicklink.link2 .ql_bottom {
    border-top-color: #D3D3D3;
}


a.quicklink.link3 .ql_top {
    border-bottom-color: #323232;
}
a.quicklink.link3 .ql_bottom {
    border-top-color: #323232;
}
a.quicklink.link3 {
    background: #323232;
}
a.quicklink {
    font-size: 36px;
    font-weight: 500;
    text-decoration:none;
}
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 334.8632px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,128,192,0.6);
  border-left: solid 5px #4a401c;
  border-right: solid 5px #4a401c;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
  box-shadow: 0 0 20px rgba(0,128,192,0.6);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 290.0000px;
  height: 167.4315780649915px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
  border-top: solid 7.0711px #4a401c;
  border-right: solid 7.0711px #4a401c;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
  border-bottom: solid 7.0711px #4a401c;
  border-left: solid 7.0711px #4a401c;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 290.0000px;
  height: 167.4316px;
  z-index: 2;
  background: inherit;
}





















/*인기사진*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}








/*인기작가*/





.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}